<div class="row container red lighten-5">
  <h2 class="center">Editar minha conta</h2>
  
  <form class="col s8 offset-s2" action="/user/{{this._id}}/edit" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Nome Completo" id="name" name="userName" type="text" value="{{this.userName}}">
        <label for="name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="email" name="userEmail" type="text" value="{{ this.userEmail }}">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="DDD + Celular" id="cellphone" name="cellphone" type="tel" class="validate" value="{{ this.cellphone }}">
        <label for="cellphone">Celular</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
      </div>
    </div>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

    <button class="btn waves-effect waves-light" type="submit">Salvar<i class="material-icons right">edit</i></button>
  </form>
  <form class="col s8 offset-s2" action="/user/edit-password" method="get">
  <br>
    <button class="btn-small waves-effect waves-light blue-grey darken-4" type="submit">Alterar minha senha</button>
  </form>

  <form class="col s8 offset-s2" action="/user/{{ this._id }}/delete" method="POST">
  <br>
    <button class="btn-small waves-effect waves-light red" type="submit">Deletar minha conta</button>
  </form>
  
</div>

{{!-- <form action="/user/{{this._id}}/edit" method="POST">
  <label for="name">Nome Completo</label>
  <input id="name" type="text" name="userName" value="{{this.userName}}">
  <br>
  <label for="email">Email</label>
  <input id="email" type="text" name="userEmail" value="{{ this.userEmail }}">
  <br>
  <label for="cellphone">Celular</label>
  <input id="cellphone" type="text" name="cellphone" value="{{ this.cellphone }}">
  <br>
  
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  
  <button type="submit">Editar</button>

  <p>Voltar para a <a href="/user/profile">página perfil</a></p>

</form> --}}
