<div class="container">

<div class="row container red lighten-5">
    <h2 class="center">Editar serviço</h2>
    <div class="col s8 push-s2" ><p><a href="/owner/my-saloon/{{this._id}}">Voltar ao Salão</p></a></div>
    <form class="col s8 offset-s2" action="/services/{{ currentService._id }}" method="POST"><div class="row">
        <div class="input-field col s12">
          <input id="serviceName" name="serviceName" type="text" class="validate" value="{{ currentService.serviceName }}">
          <label for="serviceName">Nome do Serviço</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="serviceDuration" class="validate">
            <option value="{{ currentService.serviceDuration }}">{{ currentService.serviceDuration }}</option>
            <option value="15">15 minutos</option>
            <option value="30">30 minutos</option>
            <option value="60">1 hora</option>
            <option value="90">1 hora e 30 minutos</option>
            <option value="120">2 horas</option>
            <option value="180">2 hora e 30 minutos</option>
            <option value="240">3 horas</option>
          </select>
          <label for="serviceDurantion">Selecione o tempo de serviço(min)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="servicePrice" name="servicePrice" type="text" class="validate" value="{{ currentService.servicePrice }}">
          <label for="servicePrice">Preço do Serviço R$</label>
        </div>
      </div>
      {{!-- <div class="row">
        <div class="input-field col s12">
          <input id="ordem" name="serviceOrder" type="number" class="validate" value="{{ currentService.serviceOrder }}">
          <label for="ordem">Ordem do Serviço na Tabela</label>
        </div>
      </div> --}}
      
	<div class="container">
		{{#if error}}
      <div class="card-panel red lighten-4">{{error}}</div>
		{{/if}}
	  {{#if success}}
		  <div class="card-panel teal lighten-4">{{success}}</div>
		{{/if}}
	</div>

      <button class="btn waves-effect waves-light" type="submit">Salvar<i class="material-icons right">send</i></button>
    </form>
       </form>
    <form class="col s8 offset-s2" action="/services/{{ currentService._id }}/delete" method="POST">
  <br>
    <button class="btn-small waves-effect waves-light red" type="submit">Deletar Serviço</button>
  </form>
  </div>

  </div>