{{> navPartial }}
<div class="container">
  <p><a href="/owner/my-saloon">Voltar para meu(s) estabelecimento(s)</a></p>
  <h3>{{ currentSaloon.saloonName }}</h3> 
  {{#with currentSaloon.address}}
  <p>{{ street }} - {{ city }} - {{ state }} - {{ zipcode }}</p> 
  {{/with}}
</div>

<div class="container">
  <ul>
  {{#each listOfServices}}
    <li><h5>{{ serviceName }}</h5></li>
    <li>Duração(min): {{ serviceDuration }}</li>
    <li>R$ {{ servicePrice }}</li>
    <div class="valign-wrapper container">
      <a href="/services/{{ _id }}/edit"><p class="btn-small waves-effect waves-light deep-orange lighten-3 al"><i class="small material-icons">edit</i></p></a> 
    </div>
  {{/each}}
  </ul>
</div>

<div class="container">
      <a href="/owner/my-saloon/{{ currentSaloon._id }}/edit"><p class="btn-small waves-effect waves-light blue darked-4">Editar este salão</p></a> 
</div>

<div class="container">
      <a href="/services/{{ currentSaloon._id }}/add"><p class="btn-small waves-effect waves-light deep-orange lighten-3">Adicionar Serviços</p></a> 
</div>

