<div class="container">

   <h4>Meus Salões</h4>


  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}
   
  <div class="row">
{{#each saloonByOwner }}
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <a href="/owner/my-saloon/{{this._id}}"><span class="card-title">{{ this.saloonName }}</span></a>
          {{!-- <p>Horário de Funcionamento {{ this.businessHours }}</p> --}}
          <br>
          <p>Endereço: {{ this.fullAddress }}</p>
          {{!-- <p>Endereço: {{ this.address.street }} - {{ this.address.city }} - {{ this.address.state}} - {{ this.address.zipcode }}</p> --}}
        </div>
        <div class="card-action">
          <a href="/owner/my-saloon/{{this._id}}/schedule">Ver serviços agendados</a>
        </div>
      </div>
    </div>
{{/each}}    
  </div>
</div>

