<div class="container">
  <p><a href="/owner/my-saloon">Voltar para meu(s) estabelecimento(s)</a></p>
  
  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}

  <h3>{{ currentSaloon.saloonName }}</h3> 
  {{#with currentSaloon.address}}
  <p>{{ street }} - {{ city }} - {{ state }} - {{ zipcode }}</p> 
  {{/with}}
</div>

<div class="container">
      <a href="/owner/my-saloon/{{ currentSaloon._id }}/edit"><p class="btn-small waves-effect waves-light blue darked-4">Editar este salão</p></a> 
</div>

<div class="container">
      <a href="/services/{{ currentSaloon._id }}/add"><p class="btn-small waves-effect waves-light deep-orange lighten-3">Adicionar Serviços</p></a> 
</div>


<div class="container">
<table class="highlight">
  <thead>
    <tr>
        <th>Meus Serviços</th>
        <th>Duração (min)</th>
        <th>R$</th>
        <th>Editar</th>
    </tr>
  </thead>

  <tbody>
  {{#each listOfServices }}   
   <tr>  
    
    <td>{{ serviceName }}</td> 
    <td>{{ serviceDuration }}</td>
    <td>{{ servicePrice }}</td>
    <td><a href="/services/{{ _id }}/edit"><i class="small material-icons">edit</i></a></td>
    
    </tr>
  {{/each}}  
  </tbody>
</table>

</div>
