<div class="container">

   <h2 class="center">Meus Salões</h2>


  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}
   
  <div class="row">
{{#each saloonByOwner }}
    <div class="col s12 m7" id="sizeCard">
      <div class="card blue-grey darken-1">
      <a href="/owner/my-saloon/{{this._id}}">
        <div class="card-image">
          {{#if imagePath}}
          <img class="responsive-img" src="{{ imagePath }}" id="imageCard">
        {{else}}
          <img id="no-image" class="responsive-img" src="/images/no-image.jpg" alt=""> 
        {{/if}}
          
        </div>
        <div class="card-content">
          <span class="card-title">{{ saloonName }}</span>
          <a href="/owner/my-saloon/{{this._id}}/schedule"><span>Ver serviços agendados</span></a>
        </div>
      </div>
      </a>
      </div>
{{/each}}    
  </div>
</div>

